*{box-sizing: border-box;}
@font-face {
  font-family: Clairvaux;
  src: ./assets/Clairvaux-Roman.ttf;
}

p {
  color: grey;
   font-family: "Lucida Console", "Courier New", monospace;
  font-size: 10%;
  padding: 0%;
}

img {
float: left;
height: 20%;
}

body{
  margin:0;
  padding: 0;
  background-image: linear-gradient(#E4FC00, #60bf2c);
  color: gray;
  font-family: Clairvaux;
  font-size: 20px;
  padding: 0%;
}

cursor{
      cursor: url("../assets/images/cursor.png"), crosshair;
  }

  /* .cursor{
      position: absolute;
      width: 30px;
      height: 30px;
      border:2px solid red;
      border-radius: 50%;
      pointer-events: auto;
      z-index: 1;
      backdrop-filter: grayscale();
  } */
  .cursor-scale{
     transform: scale(1.5);
  }
@keyframes spin {
  from{
  transform: rotateY(0deg);
  }
  to{
  transform: rotateY(360deg);
  }
}
.zoom{
  padding: 10px;
}
.zoom:hover {
  transform: scale(3);
}

  .orange{
    color: orange;
  }

.orange:hover {
  filter: drop-shadow(0 0 30px orange);
}
  .green{
    color: #60bf2c;
  }
  .green:hover {
    filter: drop-shadow(0 0 30px #60bf2c);
  }
  .pink{
    color: #FF69B4
  }
  .pink:hover {
    filter: drop-shadow(0 0 30px #FF69B4);
  }
  .brown{
    color: #964B00
  }
  .brown:hover {
    filter: drop-shadow(0 0 50px #964B00);
  }

.orville{
  height:230%;
}
